<nav>
  <div class="nav-wrapper">
    <span href="#" data-target="mobile-demo" class="sidenav-trigger" class="brand-logo">MEAN Task App</span>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><button (click)="logout()" class="btn waves-effect waves-light red">Cerrar sesión</button></li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li><a href="sass.html">Sass</a></li>
  <li><a href="badges.html">Components</a></li>
  <li><a href="collapsible.html">Javascript</a></li>
  <li><a href="mobile.html">Mobile</a></li>
</ul>
        